body {
	padding-top: 50px; // move content down because we have a fixed navbar that is 50px tall
	padding-bottom: 20px;
}
.navbar-brand {
	font-weight: bold;
}
div.page-header {
    margin-top: 10px;
}