@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext,cyrillic-ext,greek-ext);
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}
body {
	max-width: 72.8em;
	margin: 0 auto;
	padding: 0 0 1.8em 0;
	background: #ddd;
	color: #000;
	font-family: 'Open Sans', Helvetica, Verdana, Sans-serif;
	font-size: 62.5%;
	text-align: left;
}
a:link, a:active {
	color: #03f;
	text-decoration: none;
}
a:visited {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #03f;
	text-decoration: underline;
}
img {
	border: 0;
}
h1 {
	margin: 0;
	padding: 0.4em 0.8em;
	display: block;
	background-color: #03f;
	background-image: linear-gradient(to bottom, #2a76f4, #0033ff);
	-moz-background-image: linear-gradient(top, #2a76f4, #0033ff);
	-webkit-background-image: linear-gradient(top, #2a76f4, #0033ff);
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	text-shadow: 0 0 0.1em #000;
}
h1 a:link, h1 a:active, h1 a:visited {
	color: #fff;
	text-decoration: none;
}
h1.clickable:hover {
	background-color: #2a76f4;
	background-image: linear-gradient(to bottom, #3f98fa, #2a76f4);
	-moz-background-image: linear-gradient(top, #3f98fa, #2a76f4);
	-webkit-background-image: linear-gradient(top, #3f98fa, #2a76f4);
}
h1 a:hover {
	color: #fff;
	text-decoration: underline;
}
div#socialMedia {
	float: right;
}
div.contentBox {
	margin: 1.4em 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	color: #333;
	font-size: 1.4em;
	box-shadow: 0 0.2em 0.4em 0 #888;
	-moz-box-shadow: 0 0.2em 0.4em 0 #888;
	-webkit-box-shadow: 0 0.2em 0.4em 0 #888;
}
div.contentBox p {
	margin: 0;
	padding: 0.6em 0.8em;
}
div.footBox {
	margin: 1.4em 0;
	padding: 0 0.8em;
	font-size: 1.1em;
	text-align: center;
}
span.article_content {
	font-size: 1em;
}
span.meta_info {
	font-size: 0.8em;
}
p.floatingHalf {
	float: left;
	width: 45%;
}
div.clear {
	clear: both;
}
ul {
	margin: 1em 2em;
	padding-bottom: 1em;
	list-style-type: square;
}
ol {
	margin: 1em 0 1em 2.8em;
	padding-bottom: 1em;
}
ul.inline, ol.inline {
    margin: 0.2em 2em;
    padding-bottom: 0;
}
ul.small, ol.small {
    margin: 0.2em 2em;
}
ul.small li, ol.small li {
    font-size: 90%;
    color: #666;
}
div#navBar {
	margin: 1.4em 0;
	padding: 0;
	text-align: center;
}
div#navBar ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
div#navBar ul li {
	display: inline;
	font-size: 1.4em;
	font-weight: bold;
}
div#navBar ul li a:link, div#navBar ul li a:active, div#navBar ul li a:visited {
	display: inline-block;
	float: left;
	border-left: 0.4em solid #fff;
	margin-right: 1em;
	padding: 0.4em 0.8em;
	background-color: #03f;
	background-image: linear-gradient(to bottom, #2a76f4, #0033ff);
	-moz-background-image: linear-gradient(top, #2a76f4, #0033ff);
	-webkit-background-image: linear-gradient(top, #2a76f4, #0033ff);
	color: #fff;
	text-decoration: none;
}
div#navBar ul li a:hover {
	display: inline-block;
	float: left;
	border-left: 0.4em solid #03f;
	margin-right: 1em;
	padding: 0.4em 0.8em;
	background: #fff none scroll;
	color: #03f;
	text-decoration: none;
}
input, select, textarea {
	display: block;
	margin: 0.2em 0.4em;
	padding: 0.2em;
}
input[type="text"], input[type="password"], input[type="file"] {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 90%;
	padding: 0.4em;
	background-color: #fff;
	border: 0.1em solid #999;
}
input[type="text"].form_email {
	display: none;
}
input[type="submit"], a.button {
	display: inline-block;
	min-width: 10em;
	width: auto;
	height: auto;
	margin: 0.4em;
	padding: 0.3em 0.6em;
	border: 0.1em solid #bbb;
	background: #f3f3f3;
	cursor: pointer;
	background-color: #efefef;
	background-image: linear-gradient(to bottom, #f3f3f3, #eeeeee);
	background-image: -moz-linear-gradient(top, #f3f3f3, #eeeeee);
	background-image: -webkit-linear-gradient(top, #f3f3f3, #eeeeee);
	background-repeat: repeat-x;
	color: #333;
	text-align: center;
	text-decoration: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	transition: all 0.2s ease 0.1s;
	-moz-transition: all 0.2s ease 0.1s;
	-webkit-transition: all 0.2s ease 0.1s;
	-ms-transition: all 0.2s ease 0.1s;
	-o-transition: all 0.2s ease 0.1s;
	-webkit-touch-callout: none;
}
input[type="submit"]:hover, a.button:hover {
	border: 0.1em solid #aaa;
	color: #333;
	background-color: #e8e8e8;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
	background-repeat: repeat-x;
}
select {
	width: 90%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0.1em solid #999;
}
textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 90%;
	min-height: 8em;
	padding: 0.4em;
	background-color: #fff;
	border: 0.1em solid #999;
}
input[type="text"].read_only, input[type="password"].read_only, textarea.read_only {
	background-color: #f4f4f4;
	color: #555;
}
label {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 90%;
	margin: 0.8em 0em 0.4em 0.4em;
	padding: 0.2em;
	background-color: #999;
	font-weight: bold;
	color: #fff;
}
form {
	margin: 0.4em 0.4em 0.8em 0.4em;
	padding: 0.2em 0.2em 1.0em 0.2em;
}
fieldset {
	border: 0;
}
h2 {
	display: block;
	margin: 0;
	padding: 0.3em 0.4em 0.3em 0.8em;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	border-top: 0.1em solid #fff;
	background-color: #f00;
	background-image: linear-gradient(to bottom, #ff4444, #ff0000);
	background-image: -moz-linear-gradient(top, #ff4444, #ff0000);
	background-image: -webkit-linear-gradient(top, #ff4444, #ff0000);
}
a.moreLink, a.moreLink:link, a.moreLink:active, a.moreLink:visited {
	display: inline-block;
	padding: 0.2em 0.4em;
	background-color: #f00;
	background-image: linear-gradient(to bottom, #ff4444, #ff0000);
	background-image: -moz-linear-gradient(top, #ff4444, #ff0000);
	background-image: -webkit-linear-gradient(top, #ff4444, #ff0000);
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
a.moreLink:hover {
	text-decoration: underline;
}
span.dateInfo, a.dateLink, a.dateLink:link, a.dateLink:active, a.dateLink:visited {
	display: inline;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a.dateLink:hover {
	text-decoration: underline;
}
table {
	width: 95%;
	margin: 0.8em;
	border-collapse: collapse;
	overflow: hidden;
	border-top: 0.1em solid #666;
	border-right: 0.1em solid #666;
}
table.p50 {
	margin: 0.8em;
}
table.p50 th, table.p50 td {
	width: 50%;
}
td {
	padding: 0.2em 0.4em;
	border-left: 0.1em solid #666;
	border-bottom: 0.1em solid #666;
}
td.number {
	text-align: right;
}
td.image {
	width: 48px;
	padding: 0;
}
td.image img {
	width: 48px;
	height: 48px;
	margin: 0 auto;
	border: 0;
}
th {
	padding: 0.2em 0.4em;
	border-left: 0.1em solid #666;
	border-bottom: 0.1em solid #666;
	background-color: #f4f9fe;
	background-image: linear-gradient(to bottom, #f9feff, #f0f5fa);
	background-image: -moz-linear-gradient(top, #f9feff, #f0f5fa);
	background-image: -webkit-linear-gradient(top, #f9feff, #f0f5fa);
    font-size: 110%;
	font-weight: bold;
	color: #333;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
input.inputHint {
	color: #999;
}
span.light {
	font-size: 90%;
	color: #666;
}
div.alert_message {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0.4em 0.8em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0 -0.2em 0.4em 0 #888;
	-moz-box-shadow: 0 -0.2em 0.4em 0 #888;
	-webkit-box-shadow: 0 -0.2em 0.4em 0 #888;
	background-color: #666;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
}
div.alert_message p {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}
div.contentBox p.info_message {
	display: block;
	padding: 0.6em 0.8em;
	background-color: #eee;
	color: #000;
}
span.tagWord {
	display: inline-block;
	padding: 0.1em;
	background-color: #f5f5f5;
	border: 0.1em solid #eee;
}
div.progressBar {
	display: block;
	margin: 0;
	padding: 0.1em 0.2em;
	background-color: #008000;
    background-image: linear-gradient(to bottom, #30b030, #007000);
    background-image: -moz-linear-gradient(top, #30b030, #007000);
    background-image: -webkit-linear-gradient(top, #30b030, #007000);
	height: 0.8em;
}
.clickable {
    cursor: pointer;
}
span.inline_comment {
    float: right;
    display: inline-block;
    background: transparent url(/_images/comment.png) scroll no-repeat left center;
    margin: 0 4px;
    padding-left: 17px;
    color: #999;
}