<div class="container">
    <hr>
    <footer>
        <p>&copy; delight.im %5$s &middot; <a href="%1$s">Help</a> &middot; <a href="%2$s">Contact</a> &middot; <a href="/go/source">Open Source</a> &middot; <a href="/go/security">Security</a>%4$s</a></p>
        <p>Android is a trademark of Google Inc.</p>
    </footer>
</div>
<script src="%3$sjquery.min.js%6$s?v=249469"></script>
<script src="%3$sbootstrap.min.js%6$s?v=249469"></script>
<script src="/js/custom.min.js?v=249474"></script>
</body>
</html>