<div class="container">
    <hr>
    <footer>
        <p>&copy; delight.im &middot; <a href="%1$s">Help</a> &middot; <a href="%2$s">Contact</a> &middot; <a href="http://source.localize.im/">Open Source</a> &middot; <a href="http://security.localize.im/">Security</a> &middot; <a href="http://donate.localize.im/">Donate</a></p>
        <p>Android is a trademark of Google Inc.</p>
    </footer>
</div>
<script src="%3$sjquery.min.js?v=249469"></script>
<script src="%3$sbootstrap.min.js?v=249469"></script>
<script src="%3$scustom.min.js?v=249476"></script>
</body>
</html>